<!DOCTYPE html>
<html>
<head>
  <title>Add an Event</title>
</head>

<body>
<div class="container">
  <form id="form" action="https://afternoon-castle-4785.herokuapp.com/events" method="">
    Event Name: <br>
    <input type="text" name="name">
    Email: <br>
    <input type="text" name="email">
    Host: <br>
    <input type="text" name="host-name">
    Location: <br>
    <input type="text" name="location">
    Description<br>
    <input type="text" name="description">
    Qualifications<br>
    <input type="text" name="qualifications">
    Tags<br>
    <input type="text" name="tags">
    Policy<br>
    <input type="text" name="policy">
    Time<br>
    <input type="datetime" name="time">
    Coordinates:<br>
    <input type="number" name="coordinates">

    <input type="submit" value="Submit">
  </form>
</div>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>


</script>
</body>
</html>
