<!DOCTYPE html>
<html>
<head>
  <title>Add an Event</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<body>
  <div class="container">
    <div class="jumbotron">
      <h3>Coming Soon</h3>
    </div>
  </div>


<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>


</body>
</html>
