<!DOCTYPE html>
<html>
<head>
  <title>Add an Event</title>
</head>

<body>
<div class="container">
  <form id="form" action="https://afternoon-castle-4785.herokuapp.com/events" method="">
    Event Name: <br>
    <input type="text" id="name"><br><br>
    Email: <br>
    <input type="text" id="email"><br><br>
    Host: <br>
    <input type="text" id="host-name"><br><br>
    Location: <br>
    <input type="text" id="location"><br><br>
    Description<br>
    <input type="text" id="description"><br><br>
    Qualifications<br>
    <input type="text" id="qualifications"><br><br>
    Tags<br>
    <input type="text" id="tags"><br><br>
    Policy<br>
    <input type="text" id="policy"><br><br>
    Time<br>
    <input type="datetime" id="time"><br><br>
    Coordinates:<br>
    <input type="number" id="lattitude">
    <input type="number" id="longitude"><br><br>

    <button onclick="submit();">Submit</button><br><br>
  </form>
</div>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
function submit() {
  object = {name: $('#name').val(), email: $('#email').val(), host: $('#host').val(), location: $('#location').val(), description: $('#description').val(), qualifications: $('#qualifications').val(), tags: $('#tags').val(), policy: $('#policy').val(), time: [Date.now(), Date.now() + 1000000], coordinates: [$('#lattitude').val(), $('#longitude').val()]}
$.post('/events', {event: object}, function() {
  console.log('success');
})
}

</script>
</body>
</html>
