<!DOCTYPE html>
<html>
<head>
  <title>Add an Event</title>
</head>

<body>
<div class="container">
  <form id="form" action="https://afternoon-castle-4785.herokuapp.com/events" method="">
    Event Name: <br>
    <input type="text" name="name"><br><br>
    Email: <br>
    <input type="text" name="email"><br><br>
    Host: <br>
    <input type="text" name="host-name"><br><br>
    Location: <br>
    <input type="text" name="location"><br><br>
    Description<br>
    <input type="text" name="description"><br><br>
    Qualifications<br>
    <input type="text" name="qualifications"><br><br>
    Tags<br>
    <input type="text" name="tags"><br><br>
    Policy<br>
    <input type="text" name="policy"><br><br>
    Time<br>
    <input type="datetime" name="time"><br><br>
    Coordinates:<br>
    <input type="number" name="coordinates"><br><br>

    <input type="submit" value="Submit"><br><br>
  </form>
</div>
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>


</script>
</body>
</html>
